<div *ngFor="let el of elements;let i=index;">
  <div *ngFor="let dom of domains;let di=index;">
    <input type="text" [value]="el +' '+ dom" #element>
    <button (click)="selectElement(i,di)" class="btn btn-outline-primary">Select {{i}}-th element, domain {{dom}}</button>
  </div>
</div>
<div>
  <h1>Add Element</h1>
  <input type="text" #newElement>
  <button class="btn btn-outline-success" (click)="open(content)">Add Element</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c(newElement.value='')">Close</button>
    <button type="button" class="btn btn-outline-primary" (click)="c(addElement(newElement.value))">Save</button>
  </div>
</ng-template>
<pre> {{closeResult}}</pre>

<input type="text" placeholder="Enter Value" (keydown)="onKeyPress($event)"
       [ngModel]="regeks" (ngModelChange)="setRegeks($event)">
{{regeks}}
<hr>
<hr>
<form [formGroup]="form">
  <div class="form-group">
    <input [ngClass]="{'error': !checkControlValidity('name')}" class="p-2 d-block form-control" type="text"
           formControlName="name" (change)="clean()" #ime placeholder="First Name">
    <!--<input type="text" formControlName="name" (ngModelChange)="setIme($event)" #ime>-->
    <div [hidden]="checkControlValidity('name')" class="text-danger">First Name Error4e</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'error': !checkControlValidity('lastName')}" class="p-2 d-block form-control" type="text"
           formControlName="lastName" #lastName placeholder="Last Name">
    <div [hidden]="checkControlValidity('lastName')" class="text-danger">Last Name Error4e</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'error': !checkControlValidity('mail')}" class="p-2 d-block form-control" type="email"
           formControlName="mail"
           asyncValidator placeholder="Email">
    <div [hidden]="checkControlValidity('mail')" class="text-danger">E-Mail Error4e</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'error': !checkControlValidity('phone')}" class="p-2 d-block form-control"
           formControlName="phone"
           placeholder="Phone number">
    <div [hidden]="checkControlValidity('phone')" class="text-danger">Phone Error4e</div>
  </div>
  <button (click)="generiraj()">Generate</button>
  <button (click)="generiraj2(ime)">Generate 2</button>
  <br>
  <button class="btn" [ngClass]="{'btn-danger': !form.valid, 'btn-success': form.valid}" [disabled]="!form.valid">Save
  </button>
</form>
{{form.value | json}}
{{form.controls.mail.errors | json}}
<tag-input [ngModel]="['@item']"
           [onlyFromAutocomplete]="true">
  <tag-input-dropdown [showDropdownIfEmpty]="true"
                      [autocompleteItems]="['iTem1', 'item2', 'item3']">
  </tag-input-dropdown>
</tag-input>
